@import '../variables/Variables.scss';

//blocks
@mixin centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spaceAroundContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin spaceBetweemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin columnBlock {
    display: flex;
    flex-direction: column;
}

//texts
@mixin simpleText($font-size, $font-weigth, $color) {
    font-size: $font-size;
    font-weight: $font-weigth;
    color: $color;
}

//buttons
@mixin mainButton($background) {
    background-color: $background;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &::before{
        background-color: initial;
        background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
        border-radius: 125px;
        content: "";
        height: 50%;
        left: 4%;
        opacity: .5;
        position: absolute;
        top: 0;
        transition: all .3s;
        width: 92%;
    }
    &:hover{
        box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        transform: scale(1.05);
    }
}

@mixin transition() {
    transition: all .4s cubic-bezier(.215,.61,.355,1);
}

//modals

@mixin modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $backColor;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    z-index: 9;
}

@mixin modal_container($width, $heigth) {
    padding: 2rem;
    border-radius: 15px;
    width: $width;
    background-color: #fff;
    height: $heigth;
    flex-direction: column;
    position: relative;
}

//loader

@mixin loaderAnimation() {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
}
  


