@import '../../mixin/Mixin.scss';
@import '../../variables/Variables.scss';

.header_container{
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;
    padding: 0 120px;
}

.navbar{
    @include centerContainer();
    ul{
       display: flex;
       li{
           list-style-type: none;
           p{
            cursor: pointer;
            text-decoration: none;
            @include simpleText(18px, 900, #000);
            margin: 0 10px;
            &:hover{
                color: #cb5528;
            }
           }
           .link {
            cursor: pointer;
            text-decoration: none;
            @include simpleText(18px, 900, #000);
            margin: 0 10px;
            &:hover{
                color: #cb5528;
            }
        }
       }
    }
}

