@import '../../mixin/Mixin.scss';

.button_block{
    margin-bottom: 20px;
    display: flex;
}

.file_container{
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    &:hover{
        transform: scale(1.02);
    }
    .file_sub_container{
        @include centerContainer()
    }
}

.folder_img{
    width: 100px;
    height: 100px;
    img{
        width: 100%;
    }
}

.file_name{
    @include centerContainer();
    margin: 0 40px;
    p{
        @include simpleText(20px, 600, #000)
    }
}

.textBlock{
    @include columnBlock();
    justify-content: space-between;
    align-items: center;
    p:first-child{
        margin-top: 0;
    }
    p:last-child{
        margin-bottom: 0;
    }
}