.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input{
    font-size: 24px;
    padding: 10px;
}

.btnBlock{
    display: flex;
    justify-content: center;
}

