@import '../../../mixin/Mixin.scss';
@import '../../../variables/Variables.scss';

.drag_container{
    //outline: 10px dashed #fff;
    //box-shadow: 0 0 0 10px $mainColor;
    width: 100%;
    margin-top: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, $mainColor 50%, transparent 50%), linear-gradient(90deg, $mainColor 50%, transparent 50%), linear-gradient(0deg, $mainColor 50%, transparent 50%), linear-gradient(0deg, $mainColor 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 40px 10px, 40px 10px, 10px 40px, 10px 40px;
    animation: border-dance 4s infinite linear;
}

  @keyframes border-dance {
    0% {
        background-position: 0px 0px, 100% 100%, 0px 300px, 100% 0px;
    }
    100% {
        background-position: 300px 0px, 300px 100%, 0 0px, 100% 300px;
    }
}
